body {
    background-color:  rgb(197, 145, 247);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffdf2c;
    padding-left: 12%;
    padding-right: 12%;
}


.imagens {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.img4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1 {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.img2 {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.t {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.t2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffdf2c;
    padding-left: 12%;
    padding-right: 12%;
}

.a {
    display: flex;
    justify-content: center;
    gap: 20%;
}